
    <img src="/images/unicorn.jpg" class="img-responsive">

    <section class="post">
      <header class="entry-header">
        <img class="entry-avatar" alt="Paul Laros" height="52" width="52" src="https://en.gravatar.com/userimage/39066372/c5df350eac9d3e6ebb6db2a280bc24e9.jpeg?s=52">
        <h2 class="entry-title"><a href="<%= post.link %>"><%= post.title %></a></h2>

        <p class="entry-meta">
          Posted on <%= post.createdAtDate %> | By Michael Bosworth | Tags 
    		  <% if(post.tags && post.tags.length > 0) { %>
    			    <% _.each(post.tags, function(tag){ %>
    			    	<a class="label label-primary" href="/blog/tags/<%= tag %>"><%= tag %></a>
    			    <% }); %>	
    		  <% } %>
        </p>
      </header>
      <div class="entry-description">
        <%- post.body %>
      </div>
        <% if(session.user) { %>
          <div class="pull-right">
            <a href="/blog/edit/<%= post.id %>"><span class="glyphicon glyphicon-pencil"></span> Edit</a>&nbsp;&nbsp;
            <a class="link-delete" href="#" data-id="<%= post.id %>" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-remove-circle"></span> Delete</a>
          </div>
        <% } %>
    </section>

    <div class="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'balancedscalemedia'; // required: replace example with your forum shortname

          /*** Don't edit below this line ***/
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>

